{varType App\Model\Entities\Product[] $products}
{var $filteredProducts = array_filter($products, function($p) {
    return $p->photoExtension != '';
})}
{block content}
<div class="w-75 mx-auto" >
    <div id="productsCarousel" class="carousel slide container mt-5" data-ride="carousel">
        <div class="carousel-inner" style="padding: 0 70px">
            <div  class="carousel-item active" style="max-height: 100vh;height: 300px;">
                <div class="jumbotron jumbotron-fluid h-100 alu-jumbotron">
                    <div class="container py-4">
                        <h1 class="display-4 text-center">Alu Shop</h1>
                        <p class="lead text-center">Nejlepší e-shop s luxusními alu koly v ČR.</p>
                    </div>
                </div>
            </div>
            <div n:foreach="$filteredProducts as $p"  class="carousel-item relative" style="max-height: 100vh;height: 300px;">
                <img class="d-block relative w-100 h-100" src="{$basePath}/img/products/{$p->productId}.{$p->photoExtension}" alt="{$p->title}" style="object-fit: contain">
            </div>
            <a class="carousel-control-prev" href="#productsCarousel" role="button" data-slide="prev"- style="width: 70px; background-color: #0000004f;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#productsCarousel" role="button" data-slide="next" style="width: 70px; background-color: #0000004f;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="container mt-5 mx-auto w-75">
    <h2 class="h2">Zbrusu nová kola</h2>
    <section class="row mt-2" n:if="!empty($products)">
        {foreach $products as $product}
            <div class="col-md-6 col-lg-4 shadow alert-light m-3 product">
                <a class="w-100 h-100 text-decoration-none" href="{plink Product:show url=>$product->url}">
                    <div class="d-flex flex-column align-items-center justify-content-center p-3 text-decoration-none" style="color: black">
                        <img class="" width="150px" height="150px" src="{$basePath}/img/products/{$product->productId}.{$product->photoExtension}" alt="{$product->title}" style="object-fit: contain">
                        <span class="h4">{$product->title}</span>
                        <span class="fs-4 fw-bold">Cena: {$product->price} Kč</span>
                        <span class="text-muted mw-100 overflow-hidden" style="text-overflow: ellipsis; max-height: 50px;">{$product->description}</span>
                    </div>
                </a>
            </div>
        {/foreach}

    </section>
    <div class="d-flex justify-content-center mt-2">
        <a href="{plink Product:list}" class="btn btn-primary w-auto">Zobrazit všechna kola</a>
    </div>

</div>
