{varType App\Model\Entities\Product[] $products}
{varType App\Model\Entities\WheelSize[] $wheelSizes}
{varType App\Model\Entities\Category $category}
{varType int $wheelSize}
{block content}

<h1 n:block="title">Kategorie: {$category->title}</h1>

<div class="mr-3 d-flex mb-4">
    <span>Filtrovat dle velikosti: </span>
    <div class="mx-2" n:foreach="$wheelSizes as $ws">
        <a n:class="$wheelSize==$ws->wheelSizeId ? 'badge rounded-pill bg-info' : 'badge rounded-pill bg-secondary'" href="{plink Product:list, categoryId=>$category->categoryId, wheelSize=>$ws->wheelSizeId }"><div class="p-1">{$ws->size}</div></a>
    </div>
</div>
<section class="row" n:if="!empty($products)">
    {foreach $products as $product}
        <div class="col-md-6 col-lg-4 shadow alert-light m-3 product">
            <a class="w-100 h-100 text-decoration-none" href="{plink Product:show url=>$product->url}">
                <div class="d-flex flex-column align-items-center justify-content-center p-3 text-decoration-none" style="color: black">
                    <img class="" width="150px" height="150px" src="/img/products/{$product->productId}.{$product->photoExtension}" alt="{$product->title}" style="object-fit: contain">
                    <span class="h4">{$product->title}</span>
                    <span class="fs-4 fw-bold">Cena: {$product->price} Kč</span>
                    <span class="text-muted mw-100 overflow-hidden" style="text-overflow: ellipsis; max-height: 50px;">{$product->description}</span>
                </div>
            </a>
        </div>
    {/foreach}
</section>

<div class="pagination mt-5">
    {if !$paginator->isFirst()}
        <a n:href="list, 1">První</a>
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->page-1">Předchozí</a>
        &nbsp;|&nbsp;
    {/if}

        Stránka {$paginator->getPage()} z {$paginator->getPageCount()}

	{if !$paginator->isLast()}
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->getPage() + 1">Další</a>
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->getPageCount()">Poslední</a>
    {/if}
</div>

