{varType App\Model\Entities\Product[] $products}
{varType App\Model\Entities\WheelSize[] $wheelSizes}
{varType App\Model\Entities\Category $category}
{varType int $wheelSize}
{block content}

<h1 n:block="title">Kategorie: {$category->title}</h1>

<div class="mr-3 d-flex"><span>Filtrovat dle velikosti: </span>
    <div class="mx-2" n:foreach="$wheelSizes as $ws">
        <a n:class="$wheelSize==$ws->wheelSizeId ? link-secondary : link-primary" href="{plink Product:list, categoryId=>$category->categoryId, wheelSize=>$ws->wheelSizeId }">{$ws->size}</a>
    </div>
</div>
<section class="row" n:if="!empty($products)">
    {foreach $products as $product}
        <div class="col-md-6 col-lg-4 my-2 card px-2 py-4 m-2">
            <a href="{plink Product:show url=>$product->url}" class="h4">{$product->title}</a>
            <span>Kategorie: {$product->category->title}</span>
            <span class="fs-4 fw-bold">Cena: {$product->price} Kč</span>
            <a href="{plink Product:show url=>$product->url}" class="btn btn-primary mt-2">Vložit do košíku</a>
        </div>
    {/foreach}
</section>

<div class="pagination">
    {if !$paginator->isFirst()}
        <a n:href="list, 1">První</a>
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->page-1">Předchozí</a>
        &nbsp;|&nbsp;
    {/if}

        Stránka {$paginator->getPage()} z {$paginator->getPageCount()}

	{if !$paginator->isLast()}
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->getPage() + 1">Další</a>
        &nbsp;|&nbsp;
        <a n:href="list, $paginator->getPageCount()">Poslední</a>
    {/if}
</div>

