{varType App\Model\Entities\Product $product}
{block content}

<h1 n:block="title">{$product->title}</h1>

<p>
    {$product->description}
</p>

<span class="h5">Cena: {$product->price} Kč</span>
<a href="{plink Product:show url=>$product->url}" class="btn btn-primary ml-2">Vložit do košíku</a>