

.alu-jumbotron {
    background: url('/img/alu-disky.jpg')  no-repeat center top fixed;
}
.alu-jumbotron .container {
    height: 100%;
    backdrop-filter: blur(10px);
    color: white;
    -webkit-backdrop-filter: blur(10px);
}

.product:hover {
    transform: scale(1.02);
    transition: 1s;
}

.cart-icon {
    width: 2rem;
    height: 2rem;
}

.checked {
    color: orange;
}
